<%- include("partials/admin_finance/_finance_styles") %>

<div class="finance-shell">
  <%- include("partials/admin_finance/_finance_header", { financeView }) %>
  <%- include("partials/admin_finance/_finance_active_tab", { financeView }) %>
</div>

<%- include("partials/admin_finance/_finance_scripts", { financeView }) %>
