@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-horriver-dark text-horriver-light font-sans antialiased;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #7B1E1E;
  border-radius: 4px;
}
