<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=1080" />
  <title>Card <%= player.name %></title>
  <style>
    <%- typeof fontCss !== "undefined" ? fontCss : "" %>
    *, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

    html, body {
      background: transparent;
      display: inline-block;
      line-height: 0;
      -webkit-font-smoothing: antialiased;
      text-rendering: geometricPrecision;
    }
  </style>
</head>
<body>
    <%- include('../partials/player_export_card', { c: {
      player:       player,
      totals:       totals,
      ovr:          ovr,
      ovrTrend:     ovrTrend,
      ovrDelta:     ovrDelta,
      achievements: achievements,
      photoUrl:     player.photoUrl && !/^https?:\/\//i.test(player.photoUrl) ? (baseUrl + player.photoUrl) : null,
      logoSmall:    typeof logoSmall !== 'undefined' && logoSmall ? logoSmall : baseUrl + '/img/logo-32x32.svg',
      logoWatermark: typeof logoWatermark !== 'undefined' && logoWatermark ? logoWatermark : baseUrl + '/img/logo-128x128.svg',
      scale: 2,
    }}) %>
</body>
</html>
